<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Tutorial</title>
    <style>
      .center {
        text-align: center;
        margin-top: 20px;
      }
      body {
        background-color: lightblue;
      }
    </style>
  </head>
  <body>
    <p>Hello From Jenkins part 4</p>
  </body>

  <style>
    body {
      background-color: black;
      color: white;
    }
    .center {
      text-align: center;
      margin-top: 20px;
    }
  </style>
</html>
